@{
    ViewData["Title"] = "Portfólio";
}

    <div class="text-center col-md-12">

        <h1 class="display-4">Meu portfólio</h1>
        <p>Aqui você poderá ver alguns dos meus projetos desenvolvidos ao longo do tempo junto com alguns dos meus experimentos e estudos do dia a dia</p>


        <div class="card-columns text-center">

            <div class="col-md-4">

                <div class="text-center card" style="width: 18rem;">
                    <img src="https://avatars3.githubusercontent.com/u/19317988" class="card-img-top" alt="profile photo">
                    <div class="card-body">
                        <h5 class="card-title">Minhas habilidades principais</h5>
                        <p class="card-text">Separei algumas das minhas habilidades principais e focos de estudos/projetos.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        @foreach (var item in Model[1])
                        {
                            <li class="list-group-item">@item.skill</li>
                        }
                    </ul>
                    <div class="card-body">
                        <a href="https://github.com/aureliowozhiak" class="card-link">GitHub</a>
                        <a href="https://www.linkedin.com/in/aureliowozhiak/" class="card-link">Linkedin</a>
                        <a href="https://aureliowozhiak.com/blog/" class="card-link">Blog</a>
                    </div>
                </div>

            </div>

            <div class="col-md-8">


                @foreach (var item in Model[0])
                {

                    <div class="text-center card" style="width: 18rem;">
                        <div class="card-body">
                            <!-- <img src="@item.urlImage" class="card-img-top" alt="@item.title"> -->
                            <h5 class="card-title">@item.title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@item.subtitle</h6>
                            <p class="card-text">@item.describe</p>
                            <a href="@item.url" class="card-link">@item.urlTitle</a>


                        </div>
                        </div>

                }

            </div>

            </div>

        </div>
